body {
      height: 100%;
      width: 100%;
      margin-top: 20px;
    }

    .login-page {
      position: relative;
      margin: 0 auto;
      width: auto;
      overflow: auto;
      text-align: center;
      padding: 3em;
    }

    .user-avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }

    .login-page h1 {
      front-weight: 300;
    }

    .form.content {
      padding: 40px 0;
    }

    .login-page .form-content .input-underline {
      background: 0 0;
      border: none;
      box-shadow: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.4);
      border-radius: 0;
    }

    .login-page .form-content .input-underline:focus {
      border-bottom: 2px solid #fff;
    }

    .input-lg {
      height: 46px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33333;
      border-radius:0px;
    }

    .btn-info {
      border-radius: 50px;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8)inset;
      background: 0 0;
      border-color: transparent;
      padding: 10px 10px;
      display: inline-block;
      color:black;
      background-color: azure;
      font-size: 20px;
    }

    input[type=text]:required -moz-placeholder
    input[type=password]:required -moz-placeholder {
      color: #fff;
    }


